@import url(./hkgrotesk/stylesheet.css);
:root {
  --color--old-primary: #27ae60;
  --color-primary: #3d22c2;
  --color-gradient-start: #27ae60;
  --color-gradient-stop: #27ae60;
}

body {
  font-family: 'hk_groteskmedium', sans-serif;
  font-weight: 400;
  line-height: 1.625em;
  letter-spacing: 0.01em;
  font-size: 1em;
  color: #73747f;
}

.h1, h1,
.h2, h2,
.h3, h3,
.h4, h4,
.h5, h5,
.h6, h6 {
  font-family: 'hk_groteskmedium', sans-serif;
  color: #1a1c26;
}

.h1,
h1 {
  font-weight: 300;
  line-height: 1.244em;
  font-size: 45px;
}

.h2,
h2 {
  font-size: 40px;
  font-weight: 300;
  line-height: 1.285em;
}

.h3,
h3 {
  font-size: 35px;
  font-weight: 400;
  line-height: 1.342em;
}

.h4,
h4 {
  font-size: 30px;
  font-weight: 400;
  line-height: 1.35em;
}

.h5,
h5 {
  font-size: 25px;
  font-weight: 400;
  line-height: 1.35em;
}

.h6,
h6 {
  font-size: 21px;
  font-weight: 400;
  line-height: 1.2em;
}

.navbar-brand {
  padding: 23px 30px 23px 0;
}

.main-header{
  border-bottom: 7px solid var(--color-primary);
  box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.05);
}

.main-header .btn-underlined {
  color: #343535;
}

.main-header .btn-underlined:after {
  background-color: currentColor;
}

.main-header .btn-bordered {
  border-color: #646464;
  color: #343535;
}

.main-header .btn-bordered:hover {
  border-color: #343535;
  background-color: #fff;
  color: #343535;
}

.main-header.megamenu-scheme-light .btn {
  border-color: rgba(0, 0, 0, 0.7);
  color: rgba(0, 0, 0, 0.7);
}

.main-nav > li > a {
  font-size: 15px;
  letter-spacing: 0.02em;
  color: #343535;
}

.main-nav > li > a .link-txt{
  padding-top: 8px; padding-bottom: 8px;
}

.main-nav > li.is-active > a,
.main-nav > li.current-menu-item > a,
.main-nav > li:hover > a,
.main-nav > li > a:hover {
  color: rgba(0, 0, 0, 0.85);
}

.main-footer {
  padding-top: 70px;
  color: rgba(255, 255, 255, 0.6);
}

.main-footer a:not(.btn) {
  color: rgba(255, 255, 255, 0.6);
}

.main-footer a:not(.btn):hover {
  color: #fff;
}

@media (min-width: 1200px) {
  .main-header .is-stuck {
    background: #fff !important;
  }
  .mainbar-wrap.is-stuck .social-icon a,
  .mainbar-wrap.is-stuck .header-module .ld-module-trigger,
  .mainbar-wrap.is-stuck .main-nav > li > a,
  .mainbar-wrap.is-stuck .ld-module-search-visible-form .ld-search-form input {
    color: #424242 !important;
  }
  .mainbar-wrap.is-stuck .ld-module-search-visible-form .ld-search-form input {
    border-color: #424242 !important;
  }
  .is-stuck .btn-underlined {
    color: #3d3d3d;
  }
  .is-stuck .btn-underlined:after {
    background-color: #000;
  }
  .is-stuck .btn-underlined:hover {
    color: #000;
  }
  .is-stuck .btn-bordered {
    color: var(--color-primary);
    border-color: var(--color-primary);
  }
  .is-stuck .btn-bordered:hover {
    border-color: #3d3d3d;
    background-color: #3d3d3d;
    color: #fff;
  }
  .megamenu-heading {
    color: #3b91f7;
  }
}

.contact-form label{
  color: #000;
}

.contact-form .row{
  justify-content: space-evenly;
}

.contact-form input{
  transition: all 0.8s;
}

.contact-form input:focus{
  border-bottom: 1px solid #27ae60;
}

.contact-btn{
  margin: 0 auto;
  display: block !important;
  border-radius: 5px !important;
  width: 80% !important;
  text-align: center;
}
.contact-form{
  margin-bottom: 80px;
}

.btn-register{
  background-color: var(--color-primary);
  color: #fff !important;
  border-color: #fff;
}

.btn-login{
    background-color: #fff;
    color: var(--color-primary) !important;
    border-color: var(--color-primary);
}

.vh-80{
  height: 80vh;
}

.top--100{
  top: -100px;
}

.underlined-onhover:hover{
  text-decoration: underline !important;
}

.liquid-lp-excerpt p{
  font-size: 13px;
}

.box-shadow-3{
  box-shadow: 6px 4px 20px 0px rgba(0, 0, 0, 0.07);
}

.text-hv li a:hover{
  color: var(--color-primary) !important;
}
.text-hv li a i {
  color: var(--color-primary) !important;
}

.text-blue{
    color: var(--color-primary) !important;
}

.h-88{
  height: 88px;
}

@media(max-width : 992px) {
  .mt-sm-c-6{
    margin-top: 6rem;
  }
}

@media(max-width : 570px) {
  .mt-xs-c-14{
    margin-top: 14rem;
  }
}

@media(min-width : 992px) {
  .mt-c-0{
    margin-top: 0rem;
  }
}


.f-1{
    font-family: 'Nunito', sans-serif;
}

.f-2{
    font-family: 'hk_groteskmedium', sans-serif;
}

.flickity-button-icon path {
    transform-origin: 0px 0px;
}

.flickity-prev-next-button .flickity-button-icon{
    width: 42% !important;
    height: 42% !important;
}

.flickity-prev-next-button svg{
    left: 28% !important;
    top: 28% !important;
}

.collaborate-pic {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type: none;
}
.collaborate-pic li:nth-of-type(1) {
    width: 200px;
    height: 257px;
    border-radius: 8px;
    margin-right: 20px;
    margin-bottom: 20px;
}
.collaborate-pic li:nth-of-type(1) img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}
.collaborate-pic li:nth-of-type(2) {
    width: 262px;
    height: 355px;
    border-radius: 8px;
    position: relative;
    margin-top: -375px;
    margin-left: 220px;
    margin-bottom: 20px;
}
.collaborate-pic li:nth-of-type(2) img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: -35px 35px 100px 0 rgba(0, 0, 0, 0.25);
}
.collaborate-pic li:nth-of-type(3) {
    width: 166px;
    height: 166px;
    border-radius: 8px;
    position: relative;
    margin-left: 70px;
    margin-right: 20px;
}
.collaborate-pic li:nth-of-type(3) img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}
.collaborate-pic li:nth-of-type(4) {
    width: 200px;
    height: 200px;
    border-radius: 8px;
}
.collaborate-pic li:nth-of-type(4) img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}
.collaborate-pic li:nth-of-type(5) {
    position: relative;
    margin-top: -92px;
    margin-left: 180px;
    z-index: -1;
}
.collaborate-pic li:nth-of-type(5) img {
    width: 102px;
    height: 118px;
}

.badge-success {
    background-color: rgba(54, 179, 126, 0.1);
    color: #36B37E !important;
}
.badge {
    display: inline-block;
    padding: .25em .4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.badge-pill {
    padding-right: .6em;
    padding-left: .6em;
    border-radius: 10rem;
}

.badge {
    font-size: 1rem;
    font-weight: 600;
    line-height: 2rem;
    padding: 0 1rem;
}

.mt--4{
    margin-top: -4rem
}

@media (max-width: 575.98px) {
    .mt--4{
        margin-top: 0
    }
}
